<!DOCTYPE html>
<html lang="en">
<head>
    <title>Compiler Online</title>
    <link rel="stylesheet" href="/static/index.css">
</head>
<body>
    <form>
        <div class="Container">
            <div class="language">
                <select name="compile">
                    <option value="C">C/C++</option>
                    <option value="Java">Java</option>
                    <option value="Python">Python</option>
                </select>
            </div>
            <div class="code">
                <textarea name="Text1" cols="40" rows="5"></textarea>
            </div>
            <div class="compile-Btn">
                <input type="submit" value="Compile" />
            </div>
        </div>
    </form>
</body>
</html>